.Intro {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    min-height: 100vh;
    .Content {
        top: 40%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        .Heading {
            background-image: url('../../assets/images/galaxy.jpg');
            background-size: cover;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            width: 100%;
            h1 {
                font-size: 42px;
                font-weight: 900;
                margin: 5px 0px;
            }
        }
        p {
            font-weight: 700;
        }

    }

}

