.Header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
    background-color: #ffffff;
    z-index: 100;
    padding: 10px 5px;
    font-weight: bold;
    margin: 0 auto;
    .Brand {
        font-weight: bold;
    }
    .Content {
        height: 100%;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: calc(100% - 20px);
            margin: 0px 10px;
        }
    
        @media screen and (min-width: 800px) {
            width: calc(100% - 40px);
            margin: 0px 20px;
        }
    }
    .DesktopOnly {
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    .NotDesktop {
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
}
